<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
    </div>
    <form name="linkForm">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row clearfix">
                        <label for="inputPassword" class="col-sm-4 control-label label_model">Old Password</label>
    
                        <div class="col-sm-8">
                            <input min="6" type="password" class="form-control" id="inputOldPassword" placeholder="Old Password" ng-model="data_password.old_password"
                            ng-change="updateProfile('old_password', data_password.old_password)">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row clearfix">
                        <label for="inputPassword" class="col-sm-4 control-label label_model">New Password</label>
    
                        <div class="col-sm-8">
                            <input type="password" min="6" class="form-control" id="inputNewPassword" placeholder="New Password" ng-model="data_password.new_password"
                            ng-change="updateProfile('new_password', data_password.new_password)">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row clearfix">
                        <label for="inputConfirmPassword" class="col-sm-4 control-label label_model">Confirm New Password</label>
    
                        <div class="col-sm-8">
                            <input type="password" min="6" class="form-control" id="inputConfirmPassword" placeholder="Confirm New Password" ng-model="data_password.res_password"
                            ng-change="confirmPassword(data_password.new_password, data_password.res_password)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="isConfirm " type="button" class="btn btn-primary" ng-click="save()">Save</button>
            <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancel</button>
        </div>
    </form>
</div>