<div ba-panel="" ba-panel-title="List Fifo" ba-panel-class="with-scroll">
    <div style="overflow: auto;">
        <div class="form-group" style="float: right; width: 150px;">
            <select class="form-control" ng-model="maxSize" name="" placeholder="select page" ng-change="changeSizePage(maxSize)">
                <option ng-repeat = "size in pageSize" value="{{size.value}}">{{size.label}}</option>
                <!-- <option value="25">25 results</option>
                <option value="50">50 results</option>
                <option value="100">100 results</option> -->
            </select>
        </div>
    </div>
    <div class="panel-body _fifo">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" style="text-align : left; min-width: 100px;">Action</th>
                    <th class="table-id ng-binding" style="text-align : left; width: 15px;">#</th>
                    
                    <th style="text-align : left; min-width: 200px;">Create Date</th>
                    <th style="text-align : left; min-width: 200px;">Username</th>
                    <th style="text-align : left;">QR Code Link</th>
                    <th style="text-align : left;">Overall drink order status </th>
                    <th style="text-align : left;">Drink Time</th>

                    <th style="text-align : left; min-width: 200px;">Glass For Order</th>
                    <th style="text-align : left;">Glass Status</th>

                    <th style="text-align : left;">Ice Status</th>

                    <th style="text-align : left; min-width: 250px;">Drink</th>
                    <th style="text-align : left;">Drink One Status</th>

                    <th style="text-align : left; min-width: 200px;">Ingredient 1</th>
                    <th style="text-align : left;">Grid Placement 1</th>
                    <th style="text-align : left;">ML 1</th>
                    <th style="text-align : left;">Ingredient Status 1</th>

                    <th style="text-align : left; min-width: 200px;">Ingredient 2</th>
                    <th style="text-align : left;">Grid Placement 2</th>
                    <th style="text-align : left;">ML 2</th>
                    <th style="text-align : left;">Ingredient Status 2</th>

                    <th style="text-align : left; min-width: 200px;">Ingredient 3</th>
                    <th style="text-align : left;">Grid Placement 3</th>
                    <th style="text-align : left;">ML 3</th>
                    <th style="text-align : left;">Ingredient Status 3</th>

                    <th style="text-align : left; min-width: 200px;">Ingredient 4</th>
                    <th style="text-align : left;">Grid Placement 4</th>
                    <th style="text-align : left;">ML 4</th>
                    <th style="text-align : left;">Ingredient Status 4</th>

                    <th style="text-align : left; min-width: 200px;">Ingredient 5</th>
                    <th style="text-align : left;">Grid Placement 5</th>
                    <th style="text-align : left;">ML 5</th>
                    <th style="text-align : left;">Ingredient Status 5</th>

                    <th style="text-align : left; min-width: 200px;">Ingredient 6</th>
                    <th style="text-align : left;">Grid Placement 6</th>
                    <th style="text-align : left;">ML 6</th>
                    <th style="text-align : left;">Ingredient Status 6</th>

                    <th style="text-align : left; min-width: 200px;">Ingredient 7</th>
                    <th style="text-align : left;">Grid Placement 7</th>
                    <th style="text-align : left;">ML 7</th>
                    <th style="text-align : left;">Ingredient Status 7</th>

                    <th style="text-align : left; min-width: 200px;">Ingredient 8</th>
                    <th style="text-align : left;">Grid Placement 8</th>
                    <th style="text-align : left;">ML 8</th>
                    <th style="text-align : left;">Ingredient Status 8</th>

                    <th style="text-align : left;">Slide</th>
                    <th style="text-align : left;">Slide Status</th>

                    <!--  <th style="text-align : left;">Countinue up</th>
                    <th>Status</th>
                    <th style="text-align : left;">Amount</th>
                    <th>Action</th> -->
                </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="listData">
                <tr ng-repeat="item in listData" class="ng-scope">
                    
                    <td class="ng-binding" style="width: 30px; text-align : center;">
                        <a href="" data-toggle="modal" ng-click="confirmDelete(item)" style="color : #e85555;">
                            <i class="ion-android-delete"></i>
                        </a>
                    </td>

                    <td class="ng-binding" style="width: 30px; text-align : center;">
                        <a href="" data-toggle="modal" style="color : #90b900;">
                            <i class="ion-navicon-round"></i>
                        </a>
                    </td>
                    
                    <td class="table-id ng-binding" style="width: 15px; text-align: left;">{{ item.id }}</td>

                    <td class="ng-binding" style="text-align : left;">
                        {{ item.creation_date | date:'MM/dd/yyyy - HH:mm:ss' }}
                    </td>

                    <td class="ng-binding" style="text-align : left;">
                        {{ item.user.email }}
                    </td>

                    <td class="ng-binding" style="text-align : left;">
                        <!-- <img src="{{item.qr_code}}" alt="" class="" width="20px"> -->
                        <a href="" data-toggle="modal" ng-click="showQR(item.qr_code)">View QR Code</a>
                    </td>

                    <td class="ng-binding" style="text-align : left;">{{item.status_view}}
                    </td>

                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td style="padding: 5px 7px;">{{pro.drink.estimate_time}} (s)</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="ng-binding" style="text-align : left;  padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td style="padding: 5px 7px;">{{pro.drink.glass.name}} - {{ pro.drink.glass.change_to_ml }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="ng-binding" style="text-align : left; padding: 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.status >= 20" style="padding: 5px 7px;">Done</td>
                                    <td ng-if="pro.status < 20" style="padding: 5px 7px;">Not Do</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding: 0 !important">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.status >= 30" style="padding: 5px 7px;">Done</td>
                                    <td ng-if="pro.status < 30" style="padding: 5px 7px;">Not Do</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td style="padding: 5px 7px;">{{pro.drink.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td style="padding: 5px 7px;">{{pro.status_view}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <!-- =================================== -->
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[0]" style="padding: 5px 7px;">{{pro.drink.ingredients[0].ingredient.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[0]" style="padding: 5px 7px;">{{pro.drink.ingredients[0].ingredient.place_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[0]" style="padding: 5px 7px;">{{ pro.drink.ingredients[0].ratio_ml }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.status > 30 && pro.drink.ingredients[0]" style="padding: 5px 7px;">Do</td>
                                    <td ng-if="pro.status < 31 && pro.drink.ingredients[0]" style="padding: 5px 7px;">Not Do</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[1]" style="padding: 5px 7px;">{{pro.drink.ingredients[1].ingredient.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[1]" style="padding: 5px 7px;">{{pro.drink.ingredients[1].ingredient.place_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[1]" style="padding: 5px 7px;">{{pro.drink.ingredients[1].ratio_ml}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.status > 31 && pro.drink.ingredients[1]" style="padding: 5px 7px;">Do</td>
                                    <td ng-if="pro.status < 32 && pro.drink.ingredients[1]" style="padding: 5px 7px;">Not Do</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[2]" style="padding: 5px 7px;">{{pro.drink.ingredients[2].ingredient.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[2]" style="padding: 5px 7px;">{{pro.drink.ingredients[2].ingredient.place_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[2]" style="padding: 5px 7px;">{{pro.drink.ingredients[2].ratio_ml}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.status > 32 && pro.drink.ingredients[2]" style="padding: 5px 7px;">Do</td>
                                    <td ng-if="pro.status < 33 && pro.drink.ingredients[2]" style="padding: 5px 7px;">Not Do</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[3]" style="padding: 5px 7px;">{{pro.drink.ingredients[3].ingredient.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[3]" style="padding: 5px 7px;">{{pro.drink.ingredients[3].ingredient.place_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[3]" style="padding: 5px 7px;">{{pro.drink.ingredients[3].ratio_ml}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.status > 33 && pro.drink.ingredients[3]" style="padding: 5px 7px;">Do</td>
                                    <td ng-if="pro.status < 34 && pro.drink.ingredients[3]" style="padding: 5px 7px;">Not Do</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[4]" style="padding: 5px 7px;">{{pro.drink.ingredients[4].ingredient.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[4]" style="padding: 5px 7px;">{{pro.drink.ingredients[4].ingredient.place_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[4]" style="padding: 5px 7px;">{{pro.drink.ingredients[4].ratio_ml}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.status > 34 && pro.drink.ingredients[4]" style="padding: 5px 7px;">Do</td>
                                    <td ng-if="pro.status < 35 && pro.drink.ingredients[4]" style="padding: 5px 7px;">Not Do</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[5]" style="padding: 5px 7px;">{{pro.drink.ingredients[5].ingredient.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[5]" style="padding: 5px 7px;">{{pro.drink.ingredients[5].ingredient.place_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[5]" style="padding: 5px 7px;">{{pro.drink.ingredients[5].ratio_ml}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.status > 35 && pro.drink.ingredients[5]" style="padding: 5px 7px;">Do</td>
                                    <td ng-if="pro.status < 36 && pro.drink.ingredients[5]" style="padding: 5px 7px;">Not Do</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[6]" style="padding: 5px 7px;">{{pro.drink.ingredients[6].ingredient.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[6]" style="padding: 5px 7px;">{{pro.drink.ingredients[6].ingredient.place_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[6]" style="padding: 5px 7px;">{{pro.drink.ingredients[6].ratio_ml}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.status > 36 && pro.drink.ingredients[6]" style="padding: 5px 7px;">Do</td>
                                    <td ng-if="pro.status < 37 && pro.drink.ingredients[6]" style="padding: 5px 7px;">Not Do</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[7]" style="padding: 5px 7px;">{{pro.drink.ingredients[7].ingredient.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[7]" style="padding: 5px 7px;">{{pro.drink.ingredients[7].ingredient.place_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.drink.ingredients[7]" style="padding: 5px 7px;">{{pro.drink.ingredients[7].ratio_ml}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="ng-binding" style="text-align : left; padding : 0 !important;">
                        <table class="table-bordered" style="width: 100%; height: 100%;">
                            <tbody>
                                <tr ng-repeat="pro in item.products" class="ng-scope">
                                    <td ng-if="pro.status > 37 && pro.drink.ingredients[7]" style="padding: 5px 7px;">Do</td>
                                    <td ng-if="pro.status < 38 && pro.drink.ingredients[7]" style="padding: 5px 7px;">Not Do</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td></td>
                    <td></td>

                    <!-- <td class="ng-binding" style="text-align : left;">
                        <p ng-repeat="pro in item.products">{{pro.status_view}}</p>
                    </td>
                    <td class="ng-binding" style="text-align : left;">
                        <p ng-repeat="pro in item.products">
                            <span ng-repeat="ingre in pro.drink.ingredients">{{ingre.ingredient.name}}</span>
                        </p>
                    </td>
                    <td class="ng-binding" style="text-align : left;">
                    </td>
                    <td class="ng-binding" style="text-align : left;">
                    </td>
                    <td class="ng-binding" style="text-align : left;">
                    </td>
                    <td class="ng-binding" style="text-align : left;">
                    </td>
                    <td class="ng-binding" style="text-align : left;">
                        {{item.status_view}}
                    </td>
                    <td class="ng-binding" style="text-align : left;">
                        {{item.amount}}
                    </td>
                    <td class="ng-binding" style="width: 30px; text-align : center;">
                        <a href="" data-toggle="modal" ng-click="confirmDelete(item)" style="color : #e85555;">
                            <i class="ion-android-delete"></i>
                        </a>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="align-right" ng-show="bigTotalItems > 10">
        <ul uib-pagination items-per-page="maxSize" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" ng-click="changePage(bigCurrentPage)"
            class="pagination-sm" boundary-link-numbers="true"></ul>
    </div>
</div>