<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">QR CODE</h4>
        <div class="_qr_code" style="padding: 15px;">
            <img src="{{qr_code}}" class="img-thumbnail" style="width: 100%;">
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="remove(item_del)">Yes</button>
        <button type="button" class="btn btn-danger" ng-click="$dismiss()">No</button>
    </div> -->
</div>