<div ba-panel="" ba-panel-title="Import History Robot" ba-panel-class="with-scroll">
    <div class="panel-body">
        <form name="form" class="form_create">

            <!-- <div class="form-group">
                <label style="color : #fff; font-weight : bold;" for="">Status</label>
                <select class="form-control" name="status" ng-model="data_create.status" ng-change="changeInfo('status', data_create.status)">
                    <option class="form-control" ng-value="0">Import to storage</option>
                    <option class="form-control" ng-value="10">Export to machine</option>
                </select>
            </div> -->

            <div class="form-group">
                <label style="color : #fff; font-weight : bold;" for="">Machine</label>
                <select class="form-control" name="status" ng-model="data_create.machine" ng-change="changeInfo('machine', data_create.machine)">
                    <option ng-repeat="item in list_robot" class="form-control" value="{{item.id}}">Robot - {{item.id}}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="" for="">Ingredient Type</label>

                <div ng-class=" {'row' : isAddElement.type} ">
                    <div ng-class=" {'col-md-11' : isAddElement.type} ">
                        <select class="form-control" name="status" ng-model="type" ng-change="changeInfo('type', type)">
                            <option ng-repeat="item in types" class="form-control" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                    <div ng-if="isAddElement.type" class="col-md-1">
                        <button class="btn btn-primary form-control" data-toggle="modal" ng-click="openAddType('md')">
                            <i class="ion-plus-round"></i> Add</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="" for="">Ingredient Brand</label>
                <div ng-class=" {'row' : isAddElement.brand} ">
                    <div ng-class=" {'col-md-11' : isAddElement.brand} ">
                        <select ng-disabled="isDisableBrand" class="form-control" name="brand" ng-model="brand" ng-change="changeInfo('brand', brand)"
                            required>
                            <option ng-repeat="item in brands" class="form-control" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                    <div ng-if="isAddElement.brand" class="col-md-1">
                        <button class="btn btn-primary form-control" data-toggle="modal" ng-click="openAddBrand('md')">
                            <i class="ion-plus-round"></i> Add</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="">Ingredient</label>
                <select class="form-control" name="ingredient" ng-disabled="isDisableIngredient" ng-model="data_create.ingredient"
                    ng-change="changeInfo('ingredient', data_create.ingredient)">
                    <option ng-repeat="item in list_ingredient" class="form-control" value="{{item.id}}">{{item.name}} - {{item.type.name}} </option>
                </select>
            </div>

            <div class="form-group">
                <label style="color : #fff; font-weight : bold;" for="">Place Number</label>
                <input type='number' min="0" class="form-control" ng-model="data_create.place_number" ng-change="changeInfo('place_number', data_create.place_number)"
                />
            </div>

            <button ng-disabled="form.$invalid && isDisable" type="button" class="btn btn-primary" ng-click="import()">Import</button>
        </form>
    </div>
</div>