<div ba-panel ba-panel-class="profile-page">
    <h3 class="with-line">Information</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row clearfix">
                <label for="inputFirstName" class="col-sm-3 control-label">Avatar</label>
                <div class="col-sm-9" style="margin-bottom: 50px;">
                    <div class="userpic">
                        <div ng-show="isChangeAvatar" class="userpic-wrapper">
                            <img style="width: 100% !important;" ng-src="{{ picture }}" ng-click="uploadPicture()">
                        </div>
                        <div ng-show="!isChangeAvatar" class="userpic-wrapper">
                            <img style="width: 100% !important;" ng-src="{{ data_profile.avatar }}" ng-click="uploadPicture()">
                        </div>
                        <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
                        <a href class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a>

                        <input type='file' id="uploadFile" ng-show="false" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)"
                        />

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row clearfix">
                <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputFirstName" placeholder="" value="data_profile.first_name" ng-model="data_profile.first_name"
                        ng-change="updateProfile('first_name', data_profile.first_name)">
                </div>
            </div>
            <div class="form-group row clearfix">
                <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputLastName" placeholder="" value="data_profile.last_name" ng-model="data_profile.last_name"
                        ng-change="updateProfile('last_name', data_profile.last_name)">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row clearfix">
                <label class="col-sm-3 control-label">Birthday</label>

                <div class="col-sm-9">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" value="birthday" ng-model="birthday" is-open="popupDatePicker.openBirthday"
                            datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                            ng-change="changeBirthday(birthday)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatePicker('birthday')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row clearfix">
                <label for="inputOccupation" class="col-sm-3 control-label">OPT</label>

                <div class="col-sm-9">
                    <input disabled type="text" class="form-control" id="inputOccupation" placeholder="" value="data_profile.opt" ng-model="data_profile.opt">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row clearfix">
                <label for="inputOccupation" class="col-sm-3 control-label">Fb uid</label>
                <div class="col-sm-9">
                    <input disabled type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row clearfix">
                <label class="col-sm-3 control-label">Last login</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input disabled type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="last_login" is-open="popupDatePicker.openLastLogin"
                            datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                        />
                        <span class="input-group-btn">
                            <button disabled type="button" class="btn btn-default" ng-click="openDatePicker('lastLogin')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row clearfix">
                <label class="col-sm-3 control-label">Date joined</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input disabled type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date_joined" is-open="popupDatePicker.openDateJoined"
                            datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                        />
                        <span class="input-group-btn">
                            <button disabled type="button" class="btn btn-default" ng-click="openDatePicker('dataJoined')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row clearfix">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" value="data_profile.is_email_verified" ng-model="data_profile.is_email_verified" ng-change="updateProfile('is_email_verified', data_profile.is_email_verified)">
                        <span>Email verified</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <h3 class="with-line">Permissions</h3>

    <div class="row">
        <div class="col-md-4 row">
            <div class="col-md-12">
                <div class="form-group clearfix">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" value="data_profile.is_active" ng-model="data_profile.is_active" ng-change="updateProfile('is_active', data_profile.is_active)">
                        <span>Active</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-4 row">
            <div class="col-md-12">
                <div class="form-group clearfix">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" value="data_profile.is_staff" ng-model="data_profile.is_staff" ng-change="updateProfile('is_staff', data_profile.is_staff)">
                        <span>Staff status</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 row">
            <div class="col-md-12">
                <div class="form-group clearfix">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" value="data_profile.is_superuser" ng-model="data_profile.is_superuser" ng-change="updateProfile('is_superuser', data_profile.is_superuser)">
                        <span>Superuser status</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="!isChangePassword">
        <div class="col-md-12">
            <div class="button-wrapper ng-scope">
                <button type="button" class="btn btn-info pull-left" data-toggle="modal" ng-click="openChangePassword('md')">Change Password</button>
            </div>
        </div>
    </div>

    <h3 class="with-line"></h3>
    <button ng-disabled="!isUpdated" type="button" class="btn btn-primary btn-with-icon" ng-click="submitProfile()">
        <i class="ion-android-checkmark-circle"></i>Update Profile
    </button>
</div>